{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
  <script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}

<!-- Mount Balloonicorn's card on to this element. -->
<div id="balloonicorn"></div>

<!-- Mount Float's card on to this element. -->
<div id="float"></div>

<!-- Mount Llambda's card on to this element. -->
<div id="llambda"></div>

<!-- Mount Llambda's card on to this element. -->
<div id="seedpy"></div>

<!-- Mount merge card on to this element -->
<div id="merge"></div>

<div id="cardblock"></div>

{% endblock %}
